/* Navbar */
.nav-link1 {
  padding: 20px 20px 10px 20px;
  font-size: 1.2em;
  position: absolute;
  left: 350px;
}

.nav-link2 {
  padding: 20px 20px 10px 20px;
  font-size: 1.2em;
}

.nav-link3 {
  padding: 20px 20px 10px 20px;
  font-size: 1.2em;
}

.nav-linkdisable {
  padding: 20px 20px 10px 20px;
  font-size: 1em;
  position: absolute;
  right: 0px;
}